/* General styles */

button {
  background-color: yellow;
  padding: 1rem;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
}

header {
  grid-area: head;
}

a {
  text-decoration: underline;
}

h1,
figcaption {
  text-align: center;
  font-weight: 600;
  color: #494949;
}

h1 {
  font-size: 2.2rem;
}

figcaption {
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'file download' 'gallery gallery';
}

header,
#file-input,
#download-button,
#gallery,
#credits {
  padding: 2rem;
}

header,
footer {
  color: white;
  background-color: #000000;
}

header>h1 {
  color: white;
}

#file-input {
  grid-area: file;
}

#download-button {
  grid-area: download;
}


/* Image gallery */

#gallery {
  grid-area: gallery;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  padding: 1rem;
  margin: 0 auto;
}

figure {
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
}

svg {
  position: absolute;
}

.img {
  /* display: block; */
  /* width: 100%; */
  width: 300px;
  height: auto;
  margin: 0 auto;
}

.img--protanomaly {
  filter: url('#protanomaly');
}

.img--protanopia {
  filter: url('#protanopia');
}

.img--deuteranomaly {
  filter: url('#deuteranomaly');
}

.img--deuteranopia {
  filter: url('#deuteranopia');
}

.img--tritanomaly {
  filter: url('#tritanomaly');
}

.img--tritanopia {
  filter: url('#tritanopia');
}

.img--achromatomaly {
  filter: url('#achromatomaly');
}

.img--achromatopsia {
  filter: url('#achromatopsia');
}


/* Credits */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* Buy me a coffee button */

.bmc-button img {
  height: 34px !important;
  width: 35px !important;
  margin-bottom: 1px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
}

.bmc-button {
  padding: 7px 15px 7px 10px !important;
  line-height: 35px !important;
  height: 51px !important;
  text-decoration: none !important;
  display: inline-flex !important;
  /* color: #ffffff !important; */
  color: #000000 !important;
  /* background-color: #f471ff !important; */
  background-color: #f3d31d;
  border-radius: 5px !important;
  border: 1px solid transparent !important;
  padding: 7px 15px 7px 10px !important;
  font-size: 20px !important;
  letter-spacing: -0.08px !important;
  box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  margin: 0 auto !important;
  font-family: 'Lato', sans-serif !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  text-decoration: none !important;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  opacity: 0.85 !important;
  color: #ffffff !important;
}